/* You can add global styles to this file, and also import other style files */

.content {
  max-width: 96%;
  margin: auto;
}

header {
  border: 1px solid grey;
  padding: 0px 10px;
  .menu {
    list-style-type: none;
    margin-right: 10px;
    text-align: right;
    li {
      display: inline;
      padding: 10px;
      margin: 10px;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;

  .headline {
    background-color: grey;
    width: 20rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
    margin-left: 10px;
    border: 1px solid grey;
    flex-grow: 100;
    padding-left: 20px;
    padding-bottom: 50px;
    .error {
      color: red;
      padding-left: 10px;
    }
  }
}

footer {
  border: 1px solid grey;
  padding: 20px 40px;
  .lang {
    text-align: center;
    li {
      display: inline-block;
      padding: 0px 10px;
    }
  }
}

.login {
  height: 400px;
  width: 300px;
  border: 1px solid grey;
  padding: 10px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(50%);

  .login-btn {
    padding: 5px 10px;
    margin-top: 50px;
    width: 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
